{% set PROD = 'CentiRun7_1E20_RHC' %}
{% set PERSON = 'mkramer' %}

default: &default
  ND_PRODUCTION_OUTDIR_BASE: '/pscratch/sd/d/dunepro/{{PERSON}}/output/{{PROD}}'
  ND_PRODUCTION_LOGDIR_BASE: '/pscratch/sd/d/dunepro/{{PERSON}}/logs/{{PROD}}'
  ND_PRODUCTION_RUNTIME: 'NONE'

shifter: &shifter
  <<: *default
  ND_PRODUCTION_RUNTIME: 'SHIFTER'

apptainer: &apptainer
  <<: *default
  ND_PRODUCTION_RUNTIME: 'SINGULARITY'
  ND_PRODUCTION_APPTAINER_CACHEDIR: '/tmp/apptainer.{{PERSON}}'
  ND_PRODUCTION_APPTAINER_TMPDIR: '/tmp/apptainer.{{PERSON}}'
  ND_PRODUCTION_CONTAINER_DIR: '/pscratch/sd/d/dunepro/mkramer/containers'

# ------------------------------------------------------------------------------ 

sl7_container: &sl7_container
  <<: *shifter
  ND_PRODUCTION_CONTAINER: 'fermilab/fnal-wn-sl7:latest'

# al9_container: &al9_container
#   <<: *shifter
#   ND_PRODUCTION_CONTAINER: 'fermilab/fnal-wn-el9:9.7'

al9_container: &al9_container
  <<: *apptainer
  ND_PRODUCTION_CONTAINER: 'fnal-wn-el9_9.7.sif'

edep_container: &edep_container
  <<: *apptainer
  ND_PRODUCTION_CONTAINER: 'sim2x2_ndlar012.sif'

spine_container: &spine_container
  <<: *shifter
  ND_PRODUCTION_CONTAINER: 'deeplearnphysics/larcv2:ub2204-cu124-torch251-larndsim'
  ND_PRODUCTION_SPINE_NUM_THREADS: '1'
  ND_PRODUCTION_SPINE_OPENBLAS_NUM_THREADS: '1'

# ------------------------------------------------------------------------------ 

genie_common: &genie_common
  <<: *al9_container
  ND_PRODUCTION_DK2NU_DIR: '/dvs_ro/cfs/cdirs/dune/users/2x2EventGeneration/NuMI_dk2nu_2025/v03_02_RHC'
  ND_PRODUCTION_EXPOSURE: '1E15'
  ND_PRODUCTION_TUNE: 'AR23_20i_00_000'
  ND_PRODUCTION_XSEC_FILE: '/cvmfs/larsoft.opensciencegrid.org/products/genie_xsec/v3_06_00/NULL/AR2320i00000-k250-e1000/data/gxspl-NUsmall.xml'

edep_common: &edep_common
  <<: *edep_container
  ND_PRODUCTION_EDEP_MAC: 'macros/2x2_beam.mac'
  ND_PRODUCTION_GEOM_EDEP: 'geometry/Merged2x2MINERvA_v4/Merged2x2MINERvA_v4_withRock.gdml'

hadd_common: &hadd_common
  <<: *edep_container
  ND_PRODUCTION_HADD_FACTOR: '10'
  ND_PRODUCTION_USE_GHEP_POT: '1'

# ------------------------------------------------------------------------------

base_envs:

  - name: '{{PROD}}.genie.nu'
    env:
      <<: *genie_common
      ND_PRODUCTION_DET_LOCATION: 'MiniRun5-Nu'
      ND_PRODUCTION_GEOM: 'geometry/Merged2x2MINERvA_v4/Merged2x2MINERvA_v4_noRock.gdml'

  - name: '{{PROD}}.genie.rock'
    env:
      <<: *genie_common
      ND_PRODUCTION_DET_LOCATION: 'MiniRun5-Rock'
      ND_PRODUCTION_GEOM: 'geometry/Merged2x2MINERvA_v4/Merged2x2MINERvA_v4_justRock.gdml'
      ND_PRODUCTION_RUN_OFFSET: '1000000000'

  - name: '{{PROD}}.edep.nu'
    env:
      <<: *edep_common
      ND_PRODUCTION_GENIE_NAME: '{{PROD}}.genie.nu'

  - name: '{{PROD}}.edep.rock'
    env:
      <<: *edep_common
      ND_PRODUCTION_GENIE_NAME: '{{PROD}}.genie.rock'
      ND_PRODUCTION_RUN_OFFSET: '1000000000'

  - name: '{{PROD}}.edep.nu.hadd'
    env:
      <<: *hadd_common
      ND_PRODUCTION_IN_NAME: '{{PROD}}.edep.nu'

  - name: '{{PROD}}.edep.rock.hadd'
    env:
      <<: *hadd_common
      ND_PRODUCTION_IN_NAME: '{{PROD}}.edep.rock'

  - name: '{{PROD}}.spill'
    env:
      <<: *edep_container
      ND_PRODUCTION_SAMPLE_A_NAME: '{{PROD}}.edep.nu.hadd'
      ND_PRODUCTION_SAMPLE_B_NAME: '{{PROD}}.edep.rock.hadd'
      ND_PRODUCTION_REUSE_SAMPLE_B: '1'
      ND_PRODUCTION_SPILL_POT: '5E13'
      ND_PRODUCTION_SPILL_PERIOD: '1.2'
      ND_PRODUCTION_HADD_FACTOR: '10'
      ND_PRODUCTION_USE_GHEP_POT: '1'

  - name: '{{PROD}}.edep2flat'
    env:
      <<: *sl7_container
      ND_PRODUCTION_IN_NAME: '{{PROD}}.spill'

  - name: '{{PROD}}.minerva'
    env:
      <<: *sl7_container
      ND_PRODUCTION_IN_NAME: '{{PROD}}.edep2flat'

  - name: '{{PROD}}.convert2h5'
    env:
      <<: *edep_container
      ND_PRODUCTION_SPILL_NAME: '{{PROD}}.spill'
      ND_PRODUCTION_ACTIVE_VOLUME: 'volTPCActive'

  - name: '{{PROD}}.larnd'
    env:
      <<: *default
      ND_PRODUCTION_CONVERT2H5_NAME: '{{PROD}}.convert2h5'
      ND_PRODUCTION_LARNDSIM_CONFIG: '2x2'
      ND_PRODUCTION_COMPRESS: 'lzf'

  - name: '{{PROD}}.flow'
    env:
      <<: *default
      ND_PRODUCTION_IN_NAME: '{{PROD}}.larnd'
      ND_PRODUCTION_COMPRESS: 'gzip'

  - name: '{{PROD}}.flow2supera'
    env:
      <<: *spine_container
      ND_PRODUCTION_IN_NAME: '{{PROD}}.flow'
      ND_PRODUCTION_FLOW2SUPERA_CONFIG: '2x2'

  - name: '{{PROD}}.spine'
    env:
      <<: *spine_container
      ND_PRODUCTION_IN_NAME: '{{PROD}}.flow2supera'
      ND_PRODUCTION_SPINE_CONFIG: 'install/spine-prod/config/infer/2x2/full_chain_240819.yaml'

  - name: '{{PROD}}.flow2root'
    env:
      <<: *sl7_container
      ND_PRODUCTION_IN_NAME: '{{PROD}}.flow'

  - name: '{{PROD}}.pandora'
    env:
      <<: *sl7_container
      ND_PRODUCTION_IN_NAME: '{{PROD}}.flow2root'

  - name: '{{PROD}}.caf'
    env:
      <<: *sl7_container
      ND_PRODUCTION_GHEP_NU_NAME: '{{PROD}}.genie.nu'
      ND_PRODUCTION_GHEP_ROCK_NAME: '{{PROD}}.genie.rock'
      ND_PRODUCTION_MINERVA_NAME: '{{PROD}}.minerva'
      ND_PRODUCTION_SPINE_NAME: '{{PROD}}.spine'
      ND_PRODUCTION_SPILL_NAME: '{{PROD}}.spill'
      ND_PRODUCTION_PANDORA_NAME: '{{PROD}}.pandora'
