{% set modes = ['noFar_noShield',
                'noFar_withShield',
                'withFar_noShield',
                'withFar_withShield'] %}

-
  name: 'Shield_Plane_2601.gamma.edep'
  env:
    <<: *common_edep_gigacube
    ND_PRODUCTION_MPVMPR_CONFIG: 'mpvmpr/Shield_Plane_2601/gigacube_geom/gamma.yaml'

-
  name: 'Shield_Plane_2601.gamma.convert2h5'
  env:
    <<: *common_convert2h5
    ND_PRODUCTION_SINGLE_NAME: 'Shield_Plane_2601.gamma.edep'

{% for mode in modes %}

-
  name: 'Shield_Plane_2601.gamma.larnd.{{mode}}'
  env:
    <<: *common_larnd_gigacube_{{mode}}
    ND_PRODUCTION_CONVERT2H5_NAME: 'Shield_Plane_2601.gamma.convert2h5'

-
  name: 'Shield_Plane_2601.gamma.flow.{{mode}}'
  env:
    <<: *common_flow_gigacube
    ND_PRODUCTION_IN_NAME: 'Shield_Plane_2601.gamma.larnd.{{mode}}'

-
  name: 'Shield_Plane_2601.gamma.flow2supera.{{mode}}'
  env:
    <<: *common_flow2supera_gigacube
    ND_PRODUCTION_IN_NAME: 'Shield_Plane_2601.gamma.flow.{{mode}}'

-
  name: 'Shield_Plane_2601.gamma.spine.{{mode}}'
  env:
    <<: *common_spine_gigacube
    ND_PRODUCTION_IN_NAME: 'Shield_Plane_2601.gamma.flow.{{mode}}'

{% endfor %}
